
  <nav>
    <div class="nav-wrapper">
      <a href="/inicio" class="brand-logo">Inicio</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion"><a href="/empleados/personas">Personas</a></li>
        <li *ngIf="seInicioSesion"><a href="/empleados/productos">Productos</a></li>
        <li *ngIf="seInicioSesion"><a href="/seguridad/cambioclave">Cambiar Clave</a></li>
        <li *ngIf="seInicioSesion"><a href="/seguridad/cerrarsesion">Cerrar Sesion</a></li>
        <li *ngIf="!seInicioSesion"><a href="/seguridad/identificacion">Iniciar Sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a href="/empleados/personas">Personas</a></li>
        <li *ngIf="seInicioSesion"><a href="/empleados/productos">Productos</a></li>
        <li *ngIf="seInicioSesion"><a href="/seguridad/cambioclave">Cambiar Clave</a></li>
        <li *ngIf="seInicioSesion"><a href="/seguridad/cerrarsesion">Cerrar Sesion</a></li>
        <li *ngIf="!seInicioSesion"><a href="/seguridad/identificacion">Iniciar Sesion</a></li>
  </ul>
